body{
    margin:0px;
    background-color: #f1e7cc;
}

/* Header Section */
header{
    height: 120px;
    /*border: 5px solid grey;*/
    background-color: #fffffe;
}

.navbar{
    display: flex;
}

.navtext ul li{
    float: left;
    font-weight: bold;
    
}

.navtext ul li a {
    list-style: none;
    text-decoration: none;
    color: black;

}
li{
    margin: 12px;
    margin-right: 60px; 
    margin-left: 10px;
}

ul{
    font-size: 30px;
    list-style-type: none;
    font-family: 'Segoe UI', Tahoma, sans-seri;
}

.profileicon img{
    height: 120px;
}
